# Network
OBSIDIAN_BIND_ADDR=0.0.0.0
OBSIDIAN_PORT=3010

# User / group (set these to your NAS user IDs)
OBSIDIAN_PUID=1000
OBSIDIAN_PGID=1000

# Timezone
TZ=Europe/Bucharest

# Paths on host
OBSIDIAN_CONFIG_DIR=/share/Container/obsidian/config
OBSIDIAN_VAULTS_DIR=/share/Container/obsidian/vaults
